<div class="container-fluid mt-3">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info text-white fw-bold">Login</button>
  </div>
  <div class="container mt-3">
    <div class="text-center">
      <h1 class="fw-bold">Aprende, analiza</h1>
      <h1 class="fw-bold">A tu ritmo, donde quieras</h1>
      <p class="pt-4">
        DevStream te ofrece su plataforma de autoestudio para el seguimiento y
        cumplimiento de objetivos
      </p>
      <img src="../../../assets/bg-login.png" alt="bg-login" width="1000px" />
    </div>
    <div class="d-flex justify-content-around mt-5">
      <div
        class="bg-secondary-subtle mb-3 p-3 rounded"
        style="max-width: 12rem"
      >
        <h5 class="text-center">IA</h5>
        <p class="text-secondary pt-2">
          Potenciemos el uso de la IA en el desarrollo de sw
        </p>
      </div>
      <div
        class="bg-secondary-subtle mb-3 p-3 rounded"
        style="max-width: 12rem"
      >
        <h5 class="text-center">DEVOPS</h5>
        <p class="text-secondary pt-2">
          Aprende herramientas para adoptar DEVOPS
        </p>
      </div>
      <div
        class="bg-secondary-subtle mb-3 p-3 rounded"
        style="max-width: 12rem"
      >
        <h5 class="text-center">PROYECTOS</h5>
        <p class="text-secondary pt-2">
          Aprende herramientas para adoptar DEVOPS
        </p>
      </div>
      <div
        class="bg-secondary-subtle mb-3 p-3 rounded"
        style="max-width: 12rem"
      >
        <h5 class="text-center">WIKI</h5>
        <p class="text-secondary pt-2">
          Material práctico para el inicio de tus retos y proyectos
        </p>
      </div>
    </div>
  </div>
</div>
